<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Btn</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../dist/VueInterface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">btn</h1>

            <h3>Basic Usage</h3>

            <btn variant="primary">Button Element</btn>
            <btn href="http://google.com" variant="primary">Anchor Element</btn>
            <btn label class="mb-0" variant="primary">Label Element</btn>
            <btn :to="{name: 'Home'}" variant="primary">Router Link</btn>

            <hr>

            <h3>Checkbox and Radio buttons</h3>

            <p>Checked Values: {{form.checkbox}}</p>

            <btn-group toggle>
                <btn label>
                    <input v-model="form.checkbox" type="checkbox" name="checkbox[]" value="1" /> Checkbox 1
                </btn>
                <btn label>
                    <input v-model="form.checkbox" type="checkbox" name="checkbox[]" value="2" /> Checkbox 2
                </btn>
                <btn label>
                    <input v-model="form.checkbox" type="checkbox" name="checkbox[]" value="3" /> Checkbox 3
                </btn>
            </btn-group>

            <hr>

            <h3>Sizes</h3>

            <btn size="sm" variant="primary">Small</btn>
            <btn size="md" variant="primary">Medium</btn>
            <btn size="lg" variant="primary">Large</btn>

            <hr>


            <h3>Variants</h3>

            <btn variant="primary">Primary</btn>
            <btn variant="secondary">Secondary</btn>
            <btn variant="success">Success</btn>
            <btn variant="danger">Danger</btn>
            <btn variant="warning">Warning</btn>
            <btn variant="info">Info</btn>
            <btn variant="dark">Dark</btn>
            <btn variant="light">Light</btn>
            <btn variant="muted">Muted</btn>

            <hr>

            <h3>Active</h3>

            <btn variant="primary" active>Active</btn>

            <hr>

            <h3>Disabled</h3>

            <btn variant="primary" disabled>Disabled</btn>

            <hr>

            <h3>Block</h3>

            <btn variant="primary" block>Primary</btn>
            <btn variant="secondary" block>Secondary</btn>
            <btn variant="success" block>Success</btn>
            <btn variant="danger" block>Danger</btn>
            <btn variant="warning" block>Warning</btn>
            <btn variant="info" block>Info</btn>
            <btn variant="dark" block>Dark</btn>
            <btn variant="light" block>Light</btn>
            <btn variant="muted" block>Muted</btn>

            <hr>

            <h2>Non-Standard Bootstrap Features</h2>

            <p>
                Currently Bootstrap doesn't support the following features out
                of the box, however these are common concepts that users may
                need when building a responsive application. If/when Bootstrap
                implements these features, they will be removed from the
                library.
            </p>

            <h3>Responsive Block Sizes</h3>

            <btn variant="primary" class="btn-xs-block">btn-xs-block</btn>
            <btn variant="primary" class="btn-sm-block">btn-sm-block</btn>
            <btn variant="primary" class="btn-md-block">btn-md-block</btn>
            <btn variant="primary" class="btn-lg-block">btn-lg-block</btn>
            <btn variant="primary" class="btn-xl-block">btn-xl-block</btn>

            <hr>

            <h3>Auto Margins</h3>

            <btn variant="primary" class="btn-md-block">btn-md-block</btn>
            <btn variant="primary" class="btn-md-block">btn-md-block</btn>
            <btn variant="primary" class="btn-md-block">btn-md-block</btn>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router@2.0.0/dist/vue-router.js"></script>
        <script type="text/javascript" src="../../../dist/VueInterface.umd.js"></script>
        <script type="text/javascript">
            Vue.use(VueRouter);

            const router = new VueRouter({
                routes: [{
                    path: '/test',
                    name: 'Home'
                }]
            });

            const vue = new Vue({
                router: router,
                el: '#app',
                data() {
                    return {
                        form: {
                            checkbox: []
                        }
                    }
                }
            });
        </script>
    </body>
</html>
