<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>TableView</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/vue-interface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">table-view</h1>

            <table-view
                heading="Basic Usage"
                order="id"
                sort="desc"
                url="http://kimbrell.test/api/v1/feed"
                :min-height="196"
                :columns="[
                    {id: 'title', label: 'Title'},
                    {id: 'created_at', label: 'Date'},
                    {}
                ]">

                <template slot="buttons">
                    <btn outline>Some Button 1</btn>
                    <btn>Some Button 2</btn>
                    <btn variant="secondary">Some Button 3</btn>
                </template>

                <template slot-scope="props">
                    <tr v-for="(row, i) in props.data">
                        <td>
                            {{row.feedable.title}}
                        </td>
                        <td>{{ row.created_at | date('MM/DD/Y h:mm A')}}</td>
                        <td align="right">
                            <btn type="button" variant="primary" @click="onClickEdit($event, row)">
                                <i class="fa fa-edit"></i> Edit
                            </btn>
                            <btn type="button" variant="danger" @click="onClickDelete($event, row)">
                                <i class="fa fa-trash-o"></i> Delete
                            </btn>
                        </td>
                    </tr>
                </template>

            </table-view>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script type="text/javascript" src="/dist/vue-interface.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',
                data() {
                    return {
                        value: null
                    };
                }
            });
        </script>
    </body>
</html>
