<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>FileField</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/vue-toolbox.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">file-field</h1>

            <h3>Basic Usage</h3>

            <file-field label="Text Field"></file-field>
            <file-field label="Descriptive Text Field" help-text="Some helpful text goes here."></file-field>

            <hr>

            <h3>Sizes</h3>

            <file-field size="sm" label="Small"></file-field>
            <file-field size="md" label="Medium"></file-field>
            <file-field size="lg" label="Large"></file-field>

            <hr>

            <h3>Colors</h3>

            <file-field label="Primary" text-white bg-primary></file-field>
            <file-field label="Secondary" text-white bg-secondary></file-field>
            <file-field label="Success" text-white bg-success></file-field>
            <file-field label="Danger" text-white bg-danger></file-field>
            <file-field label="Warning" text-white bg-warning></file-field>
            <file-field label="Info" text-white bg-info></file-field>
            <file-field label="Dark" text-light bg-dark></file-field>
            <file-field label="Muted" text-dark bg-muted></file-field>
            <file-field label="White" text-dark bg-white></file-field>

            <h3>Validation</h3>

            <file-field label="Single Inline Error" error="This is an inline error."></file-field>

            <file-field name="test" label="Multiple Errors From Object" :errors="{'test': ['This is an inline error #1.', 'This is an inline error #2.']}"></file-field>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script type="text/javascript" src="/dist/vue-toolbox.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',
                data() {
                    return {
                        value: null
                    };
                }
            });
        </script>
    </body>
</html>
