<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Wizard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/vue-interface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1>wizard</h1>

            <h3>Overview</h3>
            <p>
                The Wizard component is used to build multi-part forms. The component provides a few built-in components,
                for the progress bar, the button bar, and a slide deck component to animate the transitions. This component
                also provides a number of options to validate the input data along the way, to enable/diable the user from
                going to the next step. The progress bar is pure CSS and builds itself based on the slides you provide.
            </p>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h2>Basic Usage</h2>
                    <p>This is the most basic implementation of the wizard. This example does not include any input validation. Notice the wizard fits nice and flush within a `card` component.</p>
                </div>
                <div class="col-md-6">
                    <card>
                        <wizard ref="wizard" header="Example 1">
                            <wizard-step label="Name">
                                <div>
                                    <upload-field v-model="example1.image" label="Test" @loaded="onLoaded"/>
                                </div>
                            </wizard-step>
                            <wizard-step label="Name">
                                <div>
                                    <input-field v-model="example1.first" size="lg" label="What is your first name?" placeholder="John"></input-field>
                                    <input-field v-model="example1.last" size="lg" label="What is your last name?" placeholder="Smith"></input-field>
                                </div>
                            </wizard-step>
                            <wizard-step label="Email Address">
                                <input-field v-model="example1.email" size="lg" label="What is your email address?" placeholder="you@example.com"></input-field>
                            </wizard-step>
                        </wizard>
                    </card>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h2>Validation</h2>
                    <p>
                        One of the key components to building a successfull multi-step form is being able to determine
                        when the user can go to the next step. This requires validating the data, enabling, or
                        disabling specific buttons. The validation function must return `true` or `false`.
                    </p>

                    <h4>Step Validation</h4>
                    <p>
                        There are two main ways to validate the current step in the form. The easiest way is to validate
                        the data within each `wizard-step` component. This allows each step to have a unique validation
                        routine.
                    </p>

                    <h4>Global Validation</h4>
                    <p>
                        The other way to validate the steps is by using a single global validation routine in the `wizard`
                        component.
                    </p>
                </div>
                <div class="col-md-6">
                    <card>
                        <wizard header="Example 2">
                            <wizard-step label="Name" :validate="() => { return !!example2.first && !!example2.last }">
                                <div>
                                    <input-field v-model="example2.first" size="lg" label="What is your first name?" placeholder="John"></input-field>
                                    <input-field v-model="example2.last" size="lg" label="What is your last name?" placeholder="Smith"></input-field>
                                </div>
                            </wizard-step>
                            <wizard-step label="Email Address" :validate="() => { return !!example2.email }">
                                <input-field v-model="example2.email" size="lg" label="What is your email address?" placeholder="you@example.com"></input-field>
                            </wizard-step>
                            <wizard-step label="Email Address">
                                <input-field v-model="example2.age" size="lg" label="Optionally, tell us your age?"></input-field>
                            </wizard-step>
                        </wizard>
                    </card>
                </div>
            </div>

        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script type="text/javascript" src="/dist/vue-interface.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',
                methods: {
                    onNameEnter() {
                        console.log('onNameEnter');
                    },
                    onEmailEnter() {
                        console.log('onEmailEnter');
                    },
                    onClickBack(event) {
                        console.log('override back button. Prevent default prevents default action.');

                        event.preventDefault();
                    },
                    onNext() {
                        console.log('next');
                    },
                    onPrev() {
                        console.log('prev');
                    },
                    onFinish() {
                        console.log('finish 123', arguments);
                    },
                    onLoaded(event) {
                        this.$refs.wizard.$refs.slideDeck.resize();
                    }
                },
                data() {
                    return {
                        example1: {},
                        example2: {},
                        example3: {},
                        example4: {}
                    }
                }
            });
        </script>
    </body>
</html>
