<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>RadioField</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../dist/VueInterface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">radio-field</h1>

            <h3>Basic Usage</h3>

            <h5 class="mt-4">Block Layout</h5>

            <p>Color: {{color}}</p>

            <radio-field v-model="color" name="color" value="red">Red</radio-field>
            <radio-field v-model="color" name="color" value="green">Green</radio-field>
            <radio-field v-model="color" name="color" value="blue">Blue</radio-field>
            <radio-field v-model="color" name="color" value="yellow" readonly>Yellow (Readonly)</radio-field>
            <radio-field v-model="color" name="color" value="orange" disabled>Orange (Disabled)</radio-field>

            <h5 class="mt-4">Inline Layout</h5>

            <radio-field name="inline" label="Red" value="red" inline></radio-field>
            <radio-field name="inline" label="Green" value="green" inline></radio-field>
            <radio-field name="inline" label="Blue" value="blue" inline></radio-field>
            <radio-field name="inline" label="Yellow" value="yellow" readonly inline>Yellow (Readonly)</radio-field>

            <hr>

            <h3>Sizes</h3>

            <radio-field name="size" size="sm" placeholder="Small">Small</radio-field>
            <radio-field name="size" size="md" placeholder="Medium">Medium</radio-field>
            <radio-field name="size" size="lg" placeholder="Large">Large</radio-field>

            <hr>

            <h3>Colors</h3>

            <radio-field name="colors" label="Primary" text-white bg-primary></radio-field>
            <radio-field name="colors" label="Secondary" text-white bg-secondary></radio-field>
            <radio-field name="colors" label="Success" text-white bg-success></radio-field>
            <radio-field name="colors" label="Danger" text-white bg-danger></radio-field>
            <radio-field name="colors" label="Warning" text-white bg-warning></radio-field>
            <radio-field name="colors" label="Info" text-white bg-info></radio-field>
            <radio-field name="colors" label="Dark" text-light bg-dark></radio-field>
            <radio-field name="colors" label="Muted" text-dark bg-muted></radio-field>
            <radio-field name="colors" label="White" text-dark bg-white></radio-field>

            <hr>

            <h3>Custom Elements</h3>

            <h5 class="mt-4">Block Layout</h5>

            <radio-field name="custom1" value="red" custom >Red</radio-field>
            <radio-field name="custom1" value="green" custom>Green</radio-field>
            <radio-field name="custom1" value="blue" custom>Blue</radio-field>
            <radio-field name="custom1" value="yellow" custom readonly>Yellow (Readonly)</radio-field>

            <h5 class="mt-4">Inline Layout</h5>

            <radio-field name="custom2" value="red" inline custom>Red</radio-field>
            <radio-field name="custom2" value="green" inline custom>Green</radio-field>
            <radio-field name="custom2" value="blue" inline custom>Blue</radio-field>
            <radio-field name="custom2" value="yellow" inline custom readonly>Yellow (Readonly)</radio-field>

            <hr>

            <h3>Validation</h3>

            <radio-field label="Single Inline Error" required error="This is an inline error."></radio-field>

            <radio-field name="test" label="Multiple Errors From Object" :errors="{'test': ['This is an inline error #1.', 'This is an inline error #2.']}"></radio-field>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script type="text/javascript" src="../../../dist/VueInterface.umd.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',
                data() {
                    return {
                        color: 'orange'
                    };
                }
            });
        </script>
    </body>
</html>
