<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>InputField</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/vue-interface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">input-field</h1>

            <h2>Basic Usage</h2>
            
            <input-field v-model="form.test" :value="form.test" type="text" label="Text Field"></input-field>
            <!--<input-field type="password" label="Password Field"></input-field>
            <input-field type="text" label="Descriptive Text Field" help-text="Some helpful text goes here."></input-field>
            <input-field type="email" label="Email Field" placeholder="you@example.com"></input-field>
            <input-field type="text" label="Plain Text" placeholder="Type something here..." plaintext></input-field>
            <input-field type="text" label="Readonly" placeholder="Type something here..." readonly></input-field>

            <hr>

            <h2>Sizes</h2>

            <input-field type="text" size="sm" placeholder="Small"></input-field>
            <input-field type="text" size="md" placeholder="Medium"></input-field>
            <input-field type="text" size="lg" placeholder="Large"></input-field>

            <hr>

            <h2>Colors</h2>

            <input-field type="text" value="Primary" text-white bg-primary></input-field>
            <input-field type="text" value="Secondary" text-white bg-secondary></input-field>
            <input-field type="text" value="Success" text-white bg-success></input-field>
            <input-field type="text" value="Danger" text-white bg-danger></input-field>
            <input-field type="text" value="Warning" text-white bg-warning></input-field>
            <input-field type="text" value="Info" text-white bg-info></input-field>
            <input-field type="text" value="Dark" text-light bg-dark></input-field>
            <input-field type="text" value="Muted" text-dark bg-muted></input-field>
            <input-field type="text" value="White" text-dark bg-white></input-field>

            <hr>

            <h2>Activity Indicator</h2>

            <input-field type="text" size="sm" placeholder="Small" :activity="showActivity"></input-field>
            <input-field type="text" size="md" placeholder="Medium" :activity="showActivity"></input-field>
            <input-field type="text" size="lg" placeholder="Large" :activity="showActivity"></input-field>

            <btn @click="onToggleActivity">
                <span v-if="!showActivity">Show</span><span v-else>Hide</span> Activity
            </btn>

            <hr>

            <h2>Validation</h2>

            <input-field type="text" label="Single Inline Error" error="This is an inline error."></input-field>

            <input-field type="text" name="test" label="Multiple Errors From Object" :errors="{'test': ['This is an inline error #1.', 'This is an inline error #2.']}"></input-field>
        -->
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script type="text/javascript" src="/dist/vue-interface.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',
                methods: {
                    onToggleActivity() {
                        this.showActivity = !this.showActivity;
                    }
                },
                data() {
                    return {
                        form: {
                            test: 'test'
                        },
                        showActivity: false,
                        value: null
                    };
                }
            });
        </script>
    </body>
</html>
