<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Modal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/vue-interface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">overlay</h1>

            <h3>Basic Usage</h3>
            <p>Show a basic modal without any button except close.</p>

            <button type="button" class="btn btn-primary" @click="isShowing1 = true">
                Regular Modal
            </button>

            <button type="button" class="btn btn-primary" @click="showModal">
                Programmatic Modal
            </button>

            <modal title="Modal title" :show.sync="isShowing1">
                modal body content
            </modal>

            <hr>

            <h3>Alert Modal</h3>
            <p>Show an modal with a single dismiss button.</p>

            <button type="button" class="btn btn-primary" @click="isShowing2 = true">
                Alert Modal
            </button>

            <button type="button" class="btn btn-primary" @click="showAlert">
                Programmatic Alert
            </button>

            <modal title="Modal title" type="alert" ok-label="Dismiss" :show.sync="isShowing2" @confirm="isShowing2 = false">
                modal body content
            </modal>

            <hr>

            <h3>Confirm Modal</h3>
            <p>Show an modal asking for confirmation.</p>

            <button type="button" class="btn btn-primary" @click="isShowing3 = true">
                <span v-if="!isShowing3Confirmed">Alert Modal</span>
                <span v-else><i class="fa fa-check"></i> Confirmed!</span>
            </button>

            <button type="button" class="btn btn-primary" @click="showConfirm">
                Programmatic Confirm
            </button>

            <modal title="Modal title" type="confirm" :show.sync="isShowing3" @confirm="isShowing3Confirmed = true; isShowing3 = false">
                Are you sure you want confirm this modal?
            </modal>

            <hr>

            <h3>Prompt Modal</h3>
            <p>Show an modal asking for user input.</p>

            <p>Prompt Data: {{prompt}}</p>

            <button type="button" class="btn btn-primary" @click="isShowing4 = true">
                Prompt Modal
            </button>

            <button type="button" class="btn btn-primary" @click="showPrompt">
                Programmatic Prompt
            </button>

            <modal title="Modal title" type="prompt" :show.sync="isShowing4" @cancel="onCancelPrompt" @confirm="onConfirmPrompt">
                <form @submit="onSubmit">
                    <input-field v-model="prompt.first" name="first" label="Enter your first name..."/>
                </form>
            </modal>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.js"></script>
        <script type="text/javascript" src="/dist/vue-interface.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',
                data() {
                    return {
                        isShowing1: false,
                        isShowing2: false,
                        isShowing3: false,
                        isShowing3Confirmed: false,
                        isShowing4: false,
                        test: false,
                        prompt: {}
                    };
                },
                methods: {

                    onSubmit(event) {
                        console.log('submit', event);
                    },

                    showModal() {
                        const modal = this.$modal('Some modal title', VueInterface.InputField);
                    },

                    showAlert() {
                        this.$alert('ALERT!', 'This is an alert!').then(modal => {
                            console.log('alert cleared!', modal);

                            return true;
                        });
                    },

                    showConfirm() {
                        this.$confirm('Confirmation Title', 'This is a confirmation.').then(modal => {
                            // Prevent the modal from closing...
                            modal.preventDefault();
                            modal.activity = true;

                            setTimeout(() => {
                                modal.activity = false;
                                setTimeout(modal.close);
                            }, 500);
                        }, modal => {
                            //console.log('cancel!!');

                            //modal.preventDefault();

                            console.log('confirmation cancel!', modal);
                        });
                    },

                    showPrompt() {
                        const Component = Vue.extend({
                            template: `
                                <form>
                                    <input-field label="Test" name="test"/>
                                </form>
                            `
                        });

                        const promise = this.$prompt('Prompt Title', Component, null, {
                            center: true
                        });

                        promise.then(modal => {
                            modal.preventDefault();
                            modal.activity = true;

                            setTimeout(() => {
                                modal.activity = false;
                                setTimeout(modal.close);
                            }, 500);
                        }, modal => {
                            modal.preventDefault();
                        });
                    },

                    onCancelPrompt() {
                        this.prompt = {};
                    },

                    onConfirmPrompt() {
                        this.isShowing4 = false;
                    }

                }
            });
        </script>
    </body>
</html>
