<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ThumbnailList</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/vue-interface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1>thumbnail-list</h1>

            <h3>Basic Usage</h3>

            <p>The thumbnail-list component is designed to be a fluid container for image thumnails. By default, the thumnails will flex to fit on one row.</p>

            <thumbnail-list>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
            </thumbnail-list>

            <hr>

            <h3>Wrap</h3>

            <p>Wrap the thumbnails automatically to start forming rows.</p>

            <thumbnail-list wrap>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" max-width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
            </thumbnail-list>

            <hr>

            <h3>Fill</h3>

            <p>Automatically scale to thumbnails to size so the space is always filled.</p>

            <thumbnail-list fill>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="150"></thumbnail-list-item>
            </thumbnail-list>

            <!--
            <hr>

            <h3>Grid</h3>

            <p>Display the thumbnails in a grid.</p>

            <thumbnail-list grid>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
                <thumbnail-list-item src="http://via.placeholder.com/1000x1000"></thumbnail-list-item>
            </thumbnail-list>
            -->

            <hr>

            <h3>Inside Containers</h3>

            <div class="row">
                <div class="col-sm-4">
                    <thumbnail-list>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                    </thumbnail-list>
                </div>
                <div class="col-sm-4">
                    <thumbnail-list fill>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                    </thumbnail-list>
                </div>
                <div class="col-sm-4">
                    <thumbnail-list wrap>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                        <thumbnail-list-item src="http://via.placeholder.com/1000x1000" width="50"></thumbnail-list-item>
                    </thumbnail-list>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script type="text/javascript" src="/dist/vue-interface.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app'
            });
        </script>
    </body>
</html>
