<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Overlay</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/dist/vue-toolbox.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">UploadField</h1>

            <h3>Basic Usage</h3>

            <upload-field v-model="image"></upload-field>

            <h3>Multiple Files</h3>

            <upload-field v-model="images" multiple></upload-field>

            <h3>Existing Uploads</h3>

            <upload-field v-model="existing" multiple></upload-field>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.core.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment.min.js"></script>
        <script type="text/javascript" src="/dist/vue-toolbox.js"></script>
        <script type="text/javascript">
            const existing = [{
                "id": 5,
                "disk": "public",
                "filename": "9cd1db48-f9bf-4021-92ae-58141f309fef.jpeg",
                "caption": null,
                "orig_filename": "IMG_3399.jpg",
                "relative_path": "images\/9cd1db48-f9bf-4021-92ae-58141f309fef.jpeg",
                "mime": "image\/jpeg",
                "extension": "jpeg",
                "width": 1024,
                "height": 768,
                "bytes": 2007705,
                "exif": {
                    "Make": "Apple",
                    "Flash": 16,
                    "Model": "iPhone 5s",
                    "FNumber": "11\/5",
                    "COMPUTED": {
                        "html": "width=\"3264\" height=\"2448\"",
                        "Width": 3264,
                        "Height": 2448,
                        "IsColor": 1,
                        "ApertureFNumber": "f\/2.2",
                        "ByteOrderMotorola": 1
                    },
                    "DateTime": "2016:07:07 17:16:45",
                    "FileName": "phpOf1UJT",
                    "FileSize": 2007705,
                    "FileType": 2,
                    "MimeType": "image\/jpeg",
                    "Software": "Photos 3.0",
                    "MakerNote": "Apple iOS",
                    "SceneType": "\u0001",
                    "ColorSpace": 1,
                    "ExifVersion": "0221",
                    "FocalLength": "83\/20",
                    "XResolution": "72\/1",
                    "YResolution": "72\/1",
                    "ExposureMode": 0,
                    "ExposureTime": "1\/2283",
                    "FileDateTime": 1522531752,
                    "MeteringMode": 3,
                    "WhiteBalance": 0,
                    "ApertureValue": "7801\/3429",
                    "SectionsFound": "ANY_TAG, IFD0, EXIF",
                    "SensingMethod": 2,
                    "ExifImageWidth": 3264,
                    "ResolutionUnit": 2,
                    "BrightnessValue": "6509\/522",
                    "ExifImageLength": 2448,
                    "ExposureProgram": 2,
                    "FlashPixVersion": "0100",
                    "ISOSpeedRatings": 32,
                    "SubjectLocation": [
                        2521,
                        1020,
                        610,
                        612
                    ],
                    "DateTimeOriginal": "2016:07:07 17:16:45",
                    "Exif_IFD_Pointer": 174,
                    "SceneCaptureType": 0,
                    "DateTimeDigitized": "2016:07:07 17:16:45",
                    "ExposureBiasValue": "0\/1",
                    "ShutterSpeedValue": "24266\/2175",
                    "SubSecTimeOriginal": "315",
                    "SubSecTimeDigitized": "315",
                    "UndefinedTag:0xA432": [
                        "83\/20",
                        "83\/20",
                        "11\/5",
                        "11\/5"
                    ],
                    "UndefinedTag:0xA433": "Apple",
                    "UndefinedTag:0xA434": "iPhone 5s back camera 4.15mm f\/2.2",
                    "FocalLengthIn35mmFilm": 29,
                    "ComponentsConfiguration": "\u0001\u0002\u0003\u0000"
                },
                "filters": null,
                "taken_at": "2016-07-07 17:16:45",
                "created_at": "2018-03-31 21:29:13",
                "updated_at": "2018-03-31 21:29:13",
                "filesize": "1.91 MB",
                "url": "http:\/\/kimbrell.test\/storage\/images\/9cd1db48-f9bf-4021-92ae-58141f309fef.jpeg",
                "location": {
                    "id": 5,
                    "name": "Godby Home Furnishings",
                    "description": null,
                    "icon": "https:\/\/maps.gstatic.com\/mapfiles\/place_api\/icons\/shopping-71.png",
                    "address": "14550 Mundy Dr, Noblesville, IN 46060, USA",
                    "phone": null,
                    "types": [
                        "furniture_store",
                        "home_goods_store",
                        "store",
                        "point_of_interest",
                        "establishment"
                    ],
                    "vicinity": "14550 Mundy Drive, Noblesville",
                    "created_at": "2018-03-28 01:11:23",
                    "updated_at": "2018-04-05 18:13:37",
                    "latitude": 39.999421854452,
                    "longitude": -86.001375313985
                }
            }];

            const vue = new Vue({
                el: '#app',
                data() {
                    return {
                        image: null,
                        images: null,
                        existing: existing
                    };
                },
                methods: {
                }
            });
        </script>
    </body>
</html>
