<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>FileField</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../dist/VueInterface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">btn-file</h1>

            <p>The FileField extends both the Btn and FileField components and compined them into a single component. This component is a custom input field that has all the same options a regular bootstrap button.</p>

            <alert v-if="value" show>
                File Selected!
            </alert>

            <h3>Basic Usage</h3>

            <btn-file v-model="value" variant="primary">Click Me!</btn-file>

            <hr>

            <h3>Sizes</h3>

            <btn-file v-model="value" size="sm" variant="primary">Small</btn-file>
            <btn-file v-model="value" size="md" variant="primary">Medium</btn-file>
            <btn-file v-model="value" size="lg" variant="primary">Large</btn-file>

            <hr>

            <h3>Variants</h3>

            <btn-file v-model="value" variant="primary">Primary</btn-file>
            <btn-file v-model="value" variant="secondary">Secondary</btn-file>
            <btn-file v-model="value" variant="success">Success</btn-file>
            <btn-file v-model="value" variant="danger">Danger</btn-file>
            <btn-file v-model="value" variant="warning">Warning</btn-file>
            <btn-file v-model="value" variant="info">Info</btn-file>
            <btn-file v-model="value" variant="dark">Dark</btn-file>
            <btn-file v-model="value" variant="light">Light</btn-file>
            <btn-file v-model="value" variant="muted">Muted</btn-file>

            <hr>

            <h3>Active</h3>

            <btn-file v-model="value" variant="primary" active>Active</btn-file>

            <hr>

            <h3>Disabled</h3>

            <btn-file v-model="value" variant="primary" disabled>Disabled</btn-file>

            <hr>

            <h3>Block</h3>

            <btn-file v-model="value" variant="primary" block>Primary</btn-file>
            <btn-file v-model="value" variant="secondary" block>Secondary</btn-file>
            <btn-file v-model="value" variant="success" block>Success</btn-file>
            <btn-file v-model="value" variant="danger" block>Danger</btn-file>
            <btn-file v-model="value" variant="warning" block>Warning</btn-file>
            <btn-file v-model="value" variant="info" block>Info</btn-file>
            <btn-file v-model="value" variant="dark" block>Dark</btn-file>
            <btn-file v-model="value" variant="light" block>Light</btn-file>
            <btn-file v-model="value" variant="muted" block>Muted</btn-file>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
        <script type="text/javascript" src="../../../dist/VueInterface.umd.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',

                data() {
                    return {
                        value: null
                    };
                }
            });
        </script>
    </body>
</html>
