<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>InputList</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../dist/VueInterface.css">
    </head>
    <body>
        <div id="app" class="container">
            <h1 class="mb-5">input-list</h1>

            <h3>Basic Usage</h3>

            {{titles}}

            <input-list v-slot="{ index }" :items="titles">
                <input
                    ref="titles"
                    type="text"
                    placeholder="Title"
                    class="form-control mb-1"
                    size="sm"
                    v-model="titles[index]"
                    :data-index="index"
                    @remove="e => onRemoveItem(e, index)"
                    custom />
            </input-list>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
        <script type="text/javascript" src="../../../dist/VueInterface.umd.js"></script>
        <script type="text/javascript">
            const vue = new Vue({
                el: '#app',
                methods: {
                    onRemoveItem(e, index) {
                        this.titles.splice(index, 1);
                    }
                },
                data() {
                    return {
                        titles: []
                    };
                }
            });
        </script>
    </body>
</html>
